<div class="results-block">
    <%= render 'layouts/messages' %>
<% if @stock %>
    <div class="card card-header results-block">
        <strong>Strong: </strong><%= @stock.ticker %>
        <strong>Name: </strong><%= @stock.name %>
        <strong>Price: </strong><%= @stock.last_price %>
    </div>
<% end %>
</div>